<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebdevPeriod3</title>
    <link rel="stylesheet" href="~/css/app.min.css" />
</head>
<body class="h-screen">
    <div class="flex flex-col min-h-full">
        <header>
            <partial name="_NavBar" />
        </header>
        <aside class="hidden fixed min-w-max w-1/2 top-0 left-0 h-screen bg-yellow-800 z-10 flex select-none lg:hidden" id="side-nav">
            <div class="flex flex-col w-full">
                <partial name="_Navigation" />
            </div>
        </aside>
        <main role="main" class="flex flex-1 overflow-y-auto bg-gray-100">
            <div class="flex flex-col flex-1 mb-auto">
                @RenderBody()
            </div>
        </main>
        <footer class="footer bg-white relative pt-1 border-b-2 border-blue-700">
            <div class="container mx-auto px-6">
                <div class="mt-16 border-t-2 border-gray-300 flex flex-col items-center">
                    <div class="sm:w-2/3 text-center py-6">
                        <p class="text-sm text-blue-700 font-bold mb-2">
                            © 2021 - <a href="https://nhlstenden.com">NHL-Stenden University of Applied Sciences</a>
                        </p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>