@model WebdevPeriod3.Areas.Identity.Models.ProfileDto;
@{
    ViewData["Title"] = "Profile";
}

<div class="w-full my-5 p-5">
    <div class="md:flex w-full no-wrap md:-mx-2 ">
        <div class="w-full md:w-3/12 md:mx-2">
            <div class="bg-white p-3 border-t-4 border-green-400">
                <div class="image overflow-hidden">
                    <img class="h-auto w-full mx-auto"
                         src="~/images/robot.png"
                         alt="">
                </div>
                <h1 class="text-gray-900 font-bold text-xl leading-8 my-1">Angy bot-1337</h1>
                <h3 class="text-gray-600 font-lg text-semibold leading-6">Metally boi who liks to pew pew.</h3>
                <p class="text-sm text-gray-500 hover:text-gray-600 leading-6">
                    Lorem ipsum dolor sit amet
                    consectetur adipisicing elit.
                    Reprehenderit, eligendi dolorum sequi illum qui unde aspernatur non deserunt
                </p>
            </div>
            @*<div class="bg-white p-3 border-t-2 border-gray-300">
                </div>*@
        </div>
        <div class="w-full mt-3 md:mt-0 md:w-9/12 h-64">
            <div class="bg-white p-3 shadow-sm rounded-sm">
                <div class="flex items-center space-x-2 font-semibold text-gray-900 leading-8">
                    <span clas="text-green-500">
                        <svg class="h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                             stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
                        </svg>
                    </span>
                    <span class="tracking-wide">About</span>
                </div>
                <div class="text-gray-700">
                    <div class="grid md:grid-cols-2 text-sm">
                        <div class="grid grid-cols-2">
                            <div class="px-4 py-2 font-semibold">User Name:</div>
                            <div class="px-4 py-2">@Model.UserInformation.UserName</div>
                        </div>
                        <div class="grid grid-cols-2">
                            <div class="px-4 py-2 font-semibold">Email:</div>
                            <div class="px-4 py-2">
                                <p class="text-blue-800">@Model.UserInformation.Email</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="my-4"></div>
            <div class="bg-white p-3 shadow-sm rounded-sm">
                <div class="grid grid-cols-2">
                    <div>
                        <div class="flex items-center space-x-2 font-semibold text-gray-900 leading-8 mb-3">
                            <span clas="text-green-500">
                                <svg class="h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                     stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                          d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
                                </svg>
                            </span>
                            <span class="tracking-wide">Posts</span>
                        </div>
                        <ul class="list-inside space-y-2">
                            @foreach (var product in Model.OwnProducts)
                            {
                                <li>
                                    <div class="text-teal-600">@product.Name</div>
                                    <div class="text-gray-500 text-xs">@product.CreatedAt.ToString("d-M-yyyy")</div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
