@model WebdevPeriod3.Models.ProductDto
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Create post";
}

<div class="flex flex-col w-full p-5">
    <form method="post" action="CreateProduct" class="form bg-white p-6 my-10 relative">
        @Html.ValidationSummary(true, null, new { @class = "text-red-500" })
        <h3 class="text-xl text-gray-900 font-semibold">Create new post</h3>
        <span asp-validation-for="Name" class="text-red-500"></span>
        <div class="flex space-x-5 mt-3">
            <input asp-for="Name" type="text" placeholder="Title" class="border p-2  w-full">
        </div>
        <label class="text-gray-600 text-sm font-semibold" for="subsystem">
            Add your subsystems
        </label>
        <input type="url" name="subsystem" id="" placeholder="https://www.linktosubsystem.com" class="border p-2 w-full mt-3">
        <input type="url" name="subsystem" id="" placeholder="https://www.linktosubsystem.com" class="border p-2 w-full mt-3">
        <input type="url" name="subsystem" id="" placeholder="https://www.linktosubsystem.com" class="border p-2 w-full mt-3">
        <input type="url" name="subsystem" id="" placeholder="https://www.linktosubsystem.com" class="border p-2 w-full mt-3">
        <textarea asp-for="Description" cols="10" rows="10" placeholder="Content" class="border p-2 mt-3 w-full"></textarea>
        <div class="border border-dashed border-gray-500 relative mt-3">
            <input type="file" multiple class="cursor-pointer relative block opacity-0 w-full h-full p-20 z-50">
            <div class="text-center p-10 absolute top-0 right-0 left-0 m-auto">
                <h4>
                    Drop files anywhere to upload
                    <br />or
                </h4>
                <p class="">Select Files</p>
            </div>
        </div>
        <span asp-validation-for="TermsGDPR" class="text-red-500"></span>
        <p class="font-bold text-sm mt-3">GDPR Agreement *</p>
        <div class="flex items-baseline space-x-2 mt-2">
            <input asp-for="TermsGDPR" type="checkbox" class="inline-block">
            <p class="text-gray-600 text-sm">I consent.</p>
        </div>
        <input type="submit" value="Submit" class="w-full mt-6 bg-blue-600 hover:bg-blue-500 text-white font-semibold p-3">

    </form>

</div>