@model WebdevPeriod3.ViewModels.PostViewModel
@{
    ViewData["Title"] = "Post";
}

<div class="flex flex-col p-5">
    <div class="px-3">
        <h1 class="text-3xl">@Model.Product.Name</h1>
        <p class="mt-2 text-sm">@Model.Product.Description</p>
    </div>
    <img class="object-contain max-h-96" src="@Url.Action("Image", new { id = Model.Product.Id })" />
</div>
<div class="flex flex-col p-5 mt-3">
    <h1 class="text-2xl px-3">Parts</h1>
    <div class="flex flex-wrap">
        @foreach (var subProduct in Model.SubProducts)
        {
            <partial name="_BlogImage" model="subProduct" />
        }
    </div>
</div>
<div class="flex flex-col bg-gray-200 p-5">
    <partial name="_CommentForm" model="new WebdevPeriod3.Models.CommentDto()" />
    @foreach (var comment in Model.Comments)
    {
        <partial name="_Comment" model="comment" />
    }
</div>

@section Scripts {
    <script src="~/js/comments.js"></script>
}